body {
    margin: 0 auto;
    font-family: Source Serif Pro, serif;
    line-height: 28px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.75);
    font-size: 19px;
    background-color: rgba(217, 217, 217, 0.3);
}

#header {
    max-width: 630px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 15px 5px 5px 5px;
}

#logo {
    text-decoration: none;
    margin: auto;
    display: block;
    width: 250px;
}

div#logo-txt {
    font-family: "Courier New", serif;
    font-weight: 600;
    font-size: 20px;
    color: #545589;
    float: left;
    line-height: 30px;
}

hr {
    clear: both;
    width: 100px;
    border-color: rgba(217, 217, 217, 0.5);
    margin-top: 60px;
    border-bottom: 1px;
}

.bear-img {
    background-image: url("data:image/svg+xml;utf8,<svg width='345px' height='345px' viewBox='0 0 345 345' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'>  <title>FB Logo Bear</title>  <desc>Created with Sketch.</desc>  <defs></defs>  <g id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'>    <g id='Group' transform='translate(32.000000, 22.000000)' fill='%237271B3'>      <ellipse id='Head' cx='140.5' cy='77.5' rx='72.5' ry='57.5'></ellipse>      <ellipse id='Body' cx='141' cy='192.5' rx='82' ry='83.5'></ellipse>      <circle id='Left-Ear' cx='82' cy='27' r='27'></circle>      <circle id='Right-Ear' cx='199' cy='27' r='27'></circle>      <rect id='Right-Arm' transform='translate(225.323543, 126.445111) rotate(55.000000) translate(-225.323543, -126.445111) ' x='198.323543' y='76.4451112' width='54' height='100' rx='27'></rect>      <rect id='Left-Arm' transform='translate(65.788810, 162.457719) rotate(65.000000) translate(-65.788810, -162.457719) ' x='38.7888099' y='102.771357' width='54' height='119.372724' rx='27'></rect>      <rect id='Left-Leg' transform='translate(82.574614, 257.463395) rotate(50.000000) translate(-82.574614, -257.463395) ' x='51.0212912' y='208.781456' width='63.1066459' height='97.3638787' rx='31.553323'></rect>      <rect id='Right-Leg' transform='translate(198.574614, 257.463395) scale(1, -1) rotate(50.000000) translate(-198.574614, -257.463395) ' x='167.021291' y='208.781456' width='63.1066459' height='97.3638787' rx='31.553323'></rect></g></g></svg>");
}

#bear-img {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    float: left;
}

#column-body {
    max-width: 600px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 20px;
}

h1, h2, h3, h4, h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 40px;
    /*color: #545589;*/
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
}

a {
    color: rgba(0, 0, 0, 0.75);
}

a:hover {
    color: rgba(0, 0, 0, 0.6);
}

h1 {
    font-size: 34px;
    /*font-weight: 600;*/
    margin: 0 0 15px 0;
    text-align: center;
}

h2 {
    font-size: 28px;
    margin-top: 34px 0 5px 0;
}

h3 {
    font-size: 23px;
    margin: 23px 0 5px 0;
}

p {
    margin: 0 0 19px 0;
}

/* ---- Sign up ----*/

#signup-heading {
    max-width: 450px;
    margin: 0 auto;
}

#signup-heading h2 {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.9);
    /*line-height: 26px;*/
    display: block;
    margin: auto;
    text-align: center;
}

#signup-box {
    margin: 0 auto 50px auto;
    padding-top: 50px;
}

#signup-logo {
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    margin: 20px auto;
}

.signup-item {
    margin: 35px auto 0 auto;
    display: block;
    font-size: 18px;
}

input {
    border: none;
    padding: 5px 20px;
    display: block;
}
.input {
    border-bottom: #cccccc 1px solid;
    margin: 20px auto;
    width: 250px;
}

input::placeholder {
    color: #cccccc;
    text-align: center;
    padding: 5px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button {
    background-color: #545589;
    border: none;
    color: #FFFFFF;
    padding: 10px;
    width: 200px;
    border-radius: 50px;
    font-weight: 500;
}

b {
    font-size: 32px;
    color: rgba(0, 0, 0, 0.85);
    margin-top: -4px;
}