body {
    margin: 0 auto;
    font-family: Source Serif Pro, serif;
    line-height: 28px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.75);
    font-size: 19px;
    background-color: rgba(217, 218, 255, 0.3);
}
#header {
    max-width: 600px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 20px;
}

#header img {
    max-width: 600px;
}


#column-body {
    max-width: 600px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 20px;
}

h1, h2, h3, h4, h4 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
    /*color: #545589;*/
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
}

a {
    color: rgba(0, 0, 0, 0.75);
}

a:hover {
    color: rgba(0, 0, 0, 0.6);
}

h1 {
    font-size: 34px;
    /*font-weight: 600;*/
    margin: 30px 0  15px 0;
}

h2 {
    font-size: 28px;
    margin-top: 34px;
}

h3 {
    font-size: 23px;
    margin: 23px 0 0 0;
}

p {
    margin: 0 0 19px 0;
}


#signup-heading {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
    max-width: 500px;
    margin: 50px auto;
}

.signup-item {
    margin: 20px auto;
    display: block;
    font-size: 18px;
}

input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: #cccccc 1px solid;
    padding: 5px 20px;
    display: block;
    margin: 20px auto;
    width: 250px;
}

input::placeholder {
    color: #cccccc;
    text-align: center;
    padding: 5px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button {
    background-color: #545589;
    border: none;
    color: #FFFFFF;
    padding: 10px;
    width: 200px;
    border-radius: 50px;
    font-weight: 500;
}

b {
    font-size: 62px;
    display: block;
    float: left;
    padding-top: 14px;
    padding-right: 5px;
    color: rgba(0, 0, 0, 0.85);
}